*{
    margin: 0;
    padding: 0;
    color: white;
}
#navbar{
background-color: rgb(0, 0, 0);
font-size: 20px;
height: 60px;
border: 2px solid rgb(205, 177, 65);
}
a{
    margin-right: 200px;
}
#amz{
    color: rgb(205, 177, 65);
}
button{
    background-color: rgb(205, 177, 65);
}
#content{
    height: 80vh;
    background-color: rgba(0,0,100,0.5);
    border:2px solid white;
}
#contentd{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    display: inline-block;
}

#footer{
    background-color:black;
padding-top: 20px;
text-align: center;
height: 60px;
border: 2px solid rgb(49, 72, 43);
}